* {
    border: 0;
    padding: 0;
    background-color: rgb(143, 138, 138);
    margin: 1;
}

#bye {
    background-color: rgb(245, 242, 242);
    display: inline-flex;
    padding: 5px;
    margin-left: 490px;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 1px 1px 10px 2px black;
}

.baji {
    border: 2px solid rgb(190, 182, 182);
    background-color: rgb(243, 244, 245);
    padding: 10px;
    border-radius: 10px;
}

.hi {
    border-radius: 10px;
}

.hi img {

    width: 20.3vw;
    display: block;
    border-radius: 10px;

}

.math {
    background-color: white;
}

.bio {
    background-color: white;

}

.nadia {
    background-color: white;
}

.moiz {
    background-color: white;
}

.fan {
    background-color: white;
    width: 300px;
    border: 2px solid black;
    padding: 30px;
    margin-left: 400px;
    box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.3);
}

#alina {
    justify-content: center;
    margin-left: 100px;
    padding: 5px;
    border-radius: 10px;
}

.nadia {
    margin-left: 10px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 70px;
    padding: 5px;
    background-color: aliceblue;
}

.moiz {
    border: 1px solid rgb(184, 181, 181);
    border-radius: 70px;
    margin: 5px;
    padding: 5px;
    background-color: aliceblue;
}

.dows {
    background-color: white;
}

.mama {
    background-color: white;
}

.baba {
    background-color: white;
}
